{
  "extends": ["@ifit/eslint-config/react"],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "rules": {
    "react/jsx-curly-spacing": ["error", { "when": "always", "children": true, "spacing": { "objectLiterals": "never" } }],
  }
}
